@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

:root {
    --btnWebProjectDuration: 0.1s;
    --btnIsBoundMouse: 1px solid rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;
    text-shadow: 2px 2px black;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(103, 0, 187), rgb(28, 0, 184));
}

.mainBody {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainTitle {
    text-align: center;
}

.mainDesc {
    position: relative;

    padding: 15px;
    letter-spacing: 1px;

    text-align: justify;
    text-shadow: 2px 1px black;

    left: 7%;
    width: 77vw;
    box-shadow: 2px 2px 5px black;
    border-radius:5px;
    border-left: 5px solid rgb(255, 0, 200);
    background-color: rgba(189, 187, 187, 0.5);
}

.DicodingTab {
    display: flex;
    flex: 2;
    flex-direction: column;

    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    background-color: darkslategray;
}

.mainDicodingTab {
    overflow: hidden;
    padding: 5px;
    transition: max-height 0.5s ease;
    max-height: 4em;
}

.mainDicodingTab[open] {
    max-height: 1000px;
}

.titleClassDicoding {
    cursor: pointer;
    list-style: none;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    font-size: 16px;

    text-align: center;

    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

.titleClassDicoding:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 0px 1px white;
}

.Dicoding_List {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(47, 90, 90);
}

.DicodingLearn1, .DicodingLearn2, .DicodingLearn3, .DicodingLearn4, .DicodingLearn5, .DicodingLearn6, .DicodingLearn7, .DicodingLearn8, .DicodingLearn9, .DicodingLearn10 {
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
    font-size: 20px;

    padding: 15px;
    margin: 5px;
    cursor: pointer;

    width: 95%;
    border: 1px solid rgb(10, 1, 61);
    border-radius: 10px;
    background-color: rgb(2, 105, 71);
}

.DicodingLearn1:hover, .DicodingLearn2:hover, .DicodingLearn3:hover, .DicodingLearn4:hover, .DicodingLearn5:hover, .DicodingLearn6:hover, .DicodingLearn7:hover, .DicodingLearn8:hover, .DicodingLearn9:hover, .DicodingLearn10:hover {
    border: var(--btnIsBoundMouse);
}

.DicodingLearn1:focus, .DicodingLearn2:focus, .DicodingLearn3:focus, .DicodingLearn4:focus, .DicodingLearn5:focus, .DicodingLearn6:focus, .DicodingLearn7:focus, .DicodingLearn8:focus, .DicodingLearn9:focus, .DicodingLearn10:focus {
    transition: var(--btnWebProjectDuration);
    color: black;
    text-shadow: 2px 1px white;
    background-color: rgb(0, 230, 77);
    border: 1px solid rgb(0, 0, 0);
}

.DicodingLearnCSS1, .DicodingLearnCSS2, .DicodingLearnCSS3, .DicodingLearnCSS4, .DicodingLearnCSS5, .DicodingLearnCSS6, .DicodingLearnCSS7, .DicodingLearnCSS8, .DicodingLearnCSS9 {
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
    font-size: 20px;

    padding: 15px;
    margin: 5px;
    cursor: pointer;

    width: 95%;
    border: 1px solid rgb(10, 1, 61);
    border-radius: 10px;
    background-color: rgb(2, 105, 71);
}

.DicodingLearnCSS1:hover, .DicodingLearnCSS2:hover, .DicodingLearnCSS3:hover, .DicodingLearnCSS4:hover, .DicodingLearnCSS5:hover, .DicodingLearnCSS6:hover, .DicodingLearnCSS7:hover, .DicodingLearnCSS8:hover, .DicodingLearnCSS9:hover {
    border: var(--btnIsBoundMouse);
}

.DicodingLearnCSS1:focus, .DicodingLearnCSS2:focus, .DicodingLearnCSS3:focus, .DicodingLearnCSS4:focus, .DicodingLearnCSS5:focus, .DicodingLearnCSS6:focus, .DicodingLearnCSS7:focus, .DicodingLearnCSS8:focus, .DicodingLearnCSS9:focus {
    transition: var(--btnWebProjectDuration);
    color: black;
    text-shadow: 2px 1px white;
    background-color: rgb(0, 230, 77);
    border: 1px solid rgb(0, 0, 0);
}

.DicodingProject1, .DicodingProject2, .DicodingProject3 {
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
    font-size: 20px;

    padding: 15px;
    margin: 5px;
    cursor: pointer;

    width: 95%;
    border: 1px solid rgb(10, 1, 61);
    border-radius: 10px;
    background-color: rgb(2, 105, 71);
}

.DicodingProject1:hover, .DicodingProject2:hover, .DicodingProject3:hover {
    border: var(--btnIsBoundMouse);
}

.DicodingProject1:focus, .DicodingProject2:focus, .DicodingProject3:focus {
    transition: var(--btnWebProjectDuration);
    color: black;
    text-shadow: 2px 1px white;
    background-color: rgb(0, 230, 77);
    border: 1px solid rgb(0, 0, 0);
}

.ComingSoonTitle {
    margin: 5px;
    padding: 5px;
    text-shadow: 2px 1px 1px black;

    width: 70%;
    border-radius: 5px;
    border-left: 5px solid rgb(0, 150, 0);
    background-color: rgb(0, 120, 0);
}

.webProjectTab {
    display: flex;
    flex: 2;
    flex-direction: column;

    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    background-color: darkslategray;
}

.mainWebTab {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-start;
} 

.web1, .web2, .web3, .web4, .web5, .web6, .web7 {
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
    font-size: 20px;

    padding: 15px;
    cursor: pointer;

    width: 100%;
    border: 1px solid rgb(10, 1, 61);
    background-color: rgb(2, 105, 71);
}

.web1:hover, .web2:hover, .web3:hover, .web4:hover, .web5:hover, .web6:hover, .web7:hover {
    border: var(--btnIsBoundMouse);
}


.web1:focus, .web2:focus, .web3:focus, .web4:focus, .web5:focus, .web6:focus, .web7:focus {
    transition: var(--btnWebProjectDuration);
    color: black;
    text-shadow: 2px 1px white;
    background-color: rgb(0, 230, 77);
    border: 1px solid rgb(0, 0, 0);
}

.langCard {
    display: flex;
}

.HTML, .CSS, .Javascript {

    /* Font external from google font*/
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    /* ============================= */

    text-align: center;
    margin: 5px;

    box-shadow: 2px 2px black;
}

.HTML {
    color:  black;
    text-shadow: none;

    padding: 5px;
    border-radius: 5px;
    background-color: orangered;
}

.CSS {
    color: white;
    text-shadow: none;

    padding: 5px;
    border-radius: 5px;
    background-color: rgb(89, 0, 255);
}

.Javascript {
    color: black;
    text-shadow: none;

    padding: 5px;
    border-radius: 5px;
    background-color: rgb(251, 255, 0);
}

.endPages {
    padding: 10px;

    text-shadow: 2px 1px black;
    flex-direction: column;
    background-color: rgb(17, 0, 116);
}