body {
    margin: 0;
    font-family: sans-serif;
}

.rowsFlexbox {
    display: flex;
    flex-direction: row;
    color: black;
}

.reverseRowsFlexbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: black;
}

.columnFlexbox {
    display: flex;
    flex-direction: column;
    color: black;
}

.reverseColumnFlexbox {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    color: black;
}

.flexboxRed {
    padding: 20px;
    background-color: Red;
}

.flexboxGreen {
    padding: 20px;
    background-color: green;
}

.flexboxBlue {
    padding: 20px;
    background-color: blue;
}

.wrapFlexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.reverseWrapFlexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    color: black;
}

.wrapFlexboxItems {
    height: 25px;
    width: 25px;
    padding: 25px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(214, 214, 214);
}

.startContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
}

.centerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

.endContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
}

.spaceBeetweenContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

.spaceAroundContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}

.spaceEvenlyContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}

.justifyContent {
    width: 55px;
    padding: 25px;
    cursor: pointer;
    transition: 0.09s;
    transition-property: color, font-weight, box-shadow;
    text-align: center;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(214, 214, 214);
}

.justifyContent:active {
    color: green;
    font-weight: bold;
}

.justifyContent:hover {
    box-shadow: 0px 0px 15px yellow;
}

.startItems {
    height: 150px;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(218, 217, 217);
}

.centerItems {
    height: 150px;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 217, 217);
}

.endItems {
    height: 150px;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(218, 217, 217);
}

.stretchItems {
    height: 150px;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(218, 217, 217);
}

.baselineItems {
    height: 150px;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(218, 217, 217);
}

.alignItems1 {
    padding: 20px;
    color: black;
    text-align: center;
    background-color: red;
}

.alignItems2 {
    padding: 20px;
    color: black;
    text-align: center;
    background-color: green;
}

.alignItems3 {
    padding: 20px;
    color: black;
    text-align: center;
    background-color: blue;
}