body {
    margin: 0;
    font-family: sans-serif;
}

/* Adjacent Sibling Selector (+) */
.adjacent + p {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-color: #c0bfbf;
}

/* General Sibling Selector (~) */
.genSibling ~ p {
    margin: 5px;
    padding: 10px;
    color: #00fff2;
    text-shadow: 0px 0px 10px black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-color: #0041a3;
}

/* Child Selector (>) */
div > p {
    margin: 5px;
    padding: 10px;
    color: #fd7ff3;
    text-shadow: 0px 0px 10px black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-image: linear-gradient(30deg, #0003c4, #bd02bd);
}

/* Descendant Selector (space) */
.descendant p {
    margin: 5px;
    padding: 10px;
    color: #fffb00;
    text-shadow: 0px 0px 10px black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-image: linear-gradient(30deg, #db0000, #e04903);
}