body.main-pages {
    background-image: url("../img/paper-background.jpg");
}

h1.title {
    color: rgb(0, 132, 255);
    text-align: center;
    font-size: 50px;
    text-shadow: 4px 3px rgb(0, 0, 0);
    font-family: fantasy;
}

div.navbar {
    position: fixed; 
    bottom: 1px; 
    width: 100%; 
    height: 50px; 
    background-color: rgb(7, 9, 116);
    display: flex; 
    align-items: left;  
    justify-content: left; 
}

div.nav-contain {
    font-size: 20px; 
    text-decoration: none; 
    color: #fff; 
    margin: 0 20px; 
}

p.inter-nav {
    position: relative;
    bottom: 10px;
    font-size: 15px;
}

button.button1 {
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.button2 {
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.button3 {
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.button4 {
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: lightblue;
}

.button2:hover {
    background-color: lightblue;
}

.button3:hover {
    background-color: lightblue;
}

.button4:hover {
    background-color: lightblue;
}

div.desc {
    background-color: rgba(138, 139, 219, 0.5);
    padding: 5px 15px 15px 15px;
}

p.note-for {
    text-align: justify;
    background-color: rgb(251, 255, 0);
    padding: 15px;
    background-image: url("../img/question_icon.png"); 
    background-repeat: no-repeat; 
    background-position: 10px center;
    background-size: 25px 25px;  
    padding-left: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-for:hover {
    background-color: rgb(255, 255, 96);
}

button.link-official {
    color: black;
    background-color: lightblue;
    padding: 15px 32px;
    height: 50;
    width: 150;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-image: url("https://th.bing.com/th/id/R.9a0ebbfa6b79f0b7eb711bd468e82f66?rik=NbvDvsyQ9dPL3w&riu=http%3a%2f%2fpngimg.com%2fuploads%2fie_logo%2fie_logo_PNG18.png&ehk=HGp1ZC%2fIX%2fBx45XFayYMhoTj1D4bfJKnBOdq6Ocv07k%3d&risl=&pid=ImgRaw&r=0"); 
    background-repeat: no-repeat; 
    background-position: 10px center;
    background-size: 25px 25px;  
    padding-left: 40px;
}

.link-official:hover {
    background-color: lightcyan;
}