body {
    font-family: sans-serif;
    margin: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbarBody {
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: linear-gradient(to bottom, rgb(108, 1, 209),  rgb(0, 34, 185));
        border: 3px solid white;
    }

    .logout {
        display: none;
    }

    .newUser {
        display: inline;
    }

    .btnLogout {
        cursor: pointer;
        margin: 15px;
        color: white;
    }

    .btnLogout:hover {
        transition: 1s;
        color: rgb(0, 204, 255);
        text-shadow: 2px 1px 1px rgb(0, 0, 0);
    }

    /*
    .nav1, .nav2 {
        display: none;
    }
    */

    .nav1, .nav2, .nav3, .userIcon {
        color: white;
        text-decoration: none;
    }

    .nav1 {
        margin: 10px;
    }

    .nav2 {
        margin: 10px;
    }

    .nav3 {
        margin: 10px;
    }

    .nav1:hover {
        transition: 1s;
        color: rgb(0, 204, 255);
        text-shadow: 2px 1px 1px rgb(0, 0, 0);
    }

    .nav2:hover {
        transition: 1s;
        color: rgb(0, 204, 255);
        text-shadow: 2px 1px 1px rgb(0, 0, 0);
    }

    .userIcon {
        position: relative;
        left: 5px;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../img/guest_icon.png);
    }

    .mainPage {
        width: 100%;
        min-height: calc(100vh - 60px);;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../img/coding_vibe.jpg);

        color: white;
        display: flex;
        font-size: 2vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-shadow: 2px 2px black;
    }

    .mainTitle, .quoteTab {
        position: relative;
        animation: firstSee 3s ease-in;
    }

    .quoteTab {
        width: 55vw;
        border-radius: 5px;
        background-color: rgba(168, 167, 167, 0.5);
    }

    .mainBody {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       background-color: darkblue;
    }

    .mainDesc {
        margin: 15px;
        padding: 15px;
        color: white;
        width: 29vw;
        border-radius: 10px;
        text-align: justify;
        box-shadow: 2px 2px 5px black;
        text-shadow: 2px 1px black;
        background-color: rgba(168, 167, 167, 0.5);
    }

    .conceptImg1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .showImage1 {
        margin: 15px;
        height: 200px;
        width: 400px;
        background-size: cover;
        box-shadow: 2px 2px 5px black;
        background-image: url(../../img/sessionStorageJS.jpg);
    }

    .descimg1 {
        color: white;
        text-shadow: 2px 2px black;
    }

    .informationBody {
        display: flex;
        justify-content: center;
        background-color: darkblue;
    }

    .infoWebsite {
        width: 50vw;
        margin: 5px;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 2px 2px 5px black;
        background-color: rgba(168, 168, 168, 0.5);
    }
    
    .titleInfo {
        color: rgb(255, 255, 255);
        text-shadow: 2px 1px rgb(0, 0, 0);
        text-align: center;
    }

    .descInfo {
        padding: 5px;
        color: white;
        text-shadow: 2px 1px black;
        text-align: justify;
    }

    .endPage {
        color: white;
        padding: 10px;
        display: flex;
        text-shadow: 2px 1px black;
        background-image: linear-gradient(to top, rgb(108, 1, 209),  rgb(0, 34, 185));;
        background-color: rgb(0, 117, 185);
    }

    @keyframes firstSee {
        from {
            opacity: 0%;
            top: 100px;
        }

        to {
            opacity: 100%;
            top: 0px;
        }
    }
}

/* Extra small devices (potrait phones, 600px and down) */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .navbarBody {
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: linear-gradient(to bottom, rgb(108, 1, 209),  rgb(0, 34, 185));
        border: 3px solid white;
    }

    .logout {
        display: none;
    }

    .newUser {
        display: inline;
    }

    .btnLogout {
        cursor: pointer;
        margin: 15px;
        color: white;
    }

    .btnLogout:hover {
        transition: 1s;
        color: rgb(0, 204, 255);
        text-shadow: 2px 1px 1px rgb(0, 0, 0);
    }

    /*
    .nav1, .nav2 {
        display: none;
    }
    */

    .nav1, .nav2, .nav3, .userIcon {
        color: white;
        text-decoration: none;
    }

    .nav1 {
        margin: 10px;
    }

    .nav2 {
        margin: 10px;
    }

    .nav3 {
        margin: 10px;
    }

    .nav1:hover {
        transition: 1s;
        color: rgb(0, 204, 255);
        text-shadow: 2px 1px 1px rgb(0, 0, 0);
    }

    .nav2:hover {
        transition: 1s;
        color: rgb(0, 204, 255);
        text-shadow: 2px 1px 1px rgb(0, 0, 0);
    }

    .userIcon {
        position: relative;
        left: 5px;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../img/guest_icon.png);
    }

    .mainPage {
        width: 100%;
        min-height: calc(100vh - 60px);;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../img/coding_vibe.jpg);

        color: white;
        display: flex;
        font-size: 4vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-shadow: 2px 2px black;
    }

    .mainTitle, .quoteTab {
        position: relative;
        animation: firstSee 3s ease-in;
    }

    .quoteTab {
        width: 70vw;
        border-radius: 5px;
        background-color: rgba(168, 167, 167, 0.5);
    }

    @keyframes firstSee {
        from {
            opacity: 0%;
            top: 100px;
        }

        to {
            opacity: 100%;
            top: 0px;
        }
    }
}
